.container {
  height: 100%;
}

.layout {
  height: 100vh;
}

.sider {
  background-color: #fff;

  .siderHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px 5px 10px;
  }
}
