@import '~@/mixin.less';

.a {
  color: unset;
  display: block;
  box-sizing: border-box;
}

.moved {
  //border: 1px solid @primary-color;
  //background-color: @primary-color;
  opacity: 0.5;
}

.fileInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2px 5px;
  border-radius: 5px;

  .title {
    text-align: center;
    overflow: hidden;
    .onlyline;
  }

  &:hover {
    background-color: rgba(169, 169, 169, 0.2);
  }
}

.grid {

}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;

  .image {
    width: 35px;
  }

  .title {
    text-align: left;
  }
}
